.bg-container {
    background-color: black;
    color:white;
    padding: 50px;
    background-size:cover;
    height: 100vh;
    
}
.logo {
    color: white;
}


.image {
    width:300px;
    height:300px;
}
.first-container{
    display: flex;
    flex-direction: row;
    padding: 50px;
    padding-left: 50px;
}
.button {
    background-color: #F64F59;
    border-radius: 5px;
    padding: 10px;
    border: 0px;
    color: white;
}

.icon-color {
    color: white;
    
}

.hr-style {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.p-style {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);


}

.practices {
    text-align: center;
    padding: 40px;
}
.para {
    margin-left: 350px;
    margin-right:350px;
}
.card {
    box-shadow:10px;
}
.background {
    width: 100%;
    background-size: cover;
}

.card-container {
    margin-left: 200px;
}

.img-container {
    background-image: url("images/Professional Services.png");
    background-size: cover;
    height:200px;
    border-radius: 15px;
    padding: 15px;
}
.img-container1 {
    background-image: url("images/SOW.png");
    background-size: cover;
    height:200px;
    border-radius: 15px;
    padding: 15px;
}
.img-container2 {
    background-image: url("images/MS.png");
    background-size: cover;
    height:200px;
    border-radius:15px;
    padding:15px;
}
.img-container3 {
    background-image: url("images/Outcome.png");
    background-size: cover;
    height:200px;
    border-radius: 15px;
    padding:15px;
}
.image-center {
    margin-left: 200px;
}

.new-card {
    border-radius: 10px;
}
.industry {
    padding: 500px;
}
.footer {
    padding-left: 300px;
}
.nav-button{
    background-color:white !important;
}
.dropdown {
    background-color:transparent;
}
.icon-style {
    font-size: 30px;
    color:#F64F59;
}
.card-style {
    border-radius: 20px;
}